:root {
  --primary: #363f5f;
  --secondary: #273979;
  --green:  #49aa26;
  --red: #e92929;
}

* {
  box-sizing: border-box;
  outline: 0;
}

html {
  font-size: 93.75%; /* 15px */
}

body {
  margin: 0;
  padding: 0;
  background: #878e97;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.3em;
  line-height: 1.5em;
  
}

h1 {
  text-align: center;
  margin-top: 2.2rem;
  margin-bottom: 0.8rem;
  color: var(--primary);
  font-weight: normal;

}

.container {
  width: min(90vw, 800px);
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary);

}

form button {
  background: var(--primary);
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  height: 50px;
  margin-top: 30px;
  width: 100%;
  border: none;
  padding: 0;
  border-radius: 0.2rem;
  cursor: pointer;
}

form button:hover {
  background: var(--secondary);
}

.paragrafo-resultado {
  background: var(--green);
  padding: 10px 20px;
}

.bad {
  background: red;
  padding: 10px 20px;
}